[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyter = "*"
requests = "*"
mozautomation = "*"
cachecontrol = {version = "*",extras = ["filecache"]}
tqdm = "*"
numpy = "*"
seaborn = "*"
pandas = "*"
pyarrow = "*"
kinto-http = "*"
statsmodels = "*"

[requires]
python_version = "3.6"

[dev-packages]
